* {
    box-sizing: border-box;
}

:root {
    font-family: 'arial black', Arial, Helvetica, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(15deg, darkgreen, gray, darkgreen);
}

body {
    width: 100vw;
    width: 100dvmax;
    height: 100vh;
    height: 100dvmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(15deg, darkgreen, gray, darkgreen)
}

main {
    width: 85vmax;
    height: 60vmin;
    display: flex;
    gap: 0.9vmax;
    justify-content: center;
    align-items: center;
    background: linear-gradient(red 2%, yellow 2% 19%, red 20%, yellow 21% 39%, green 41% 59%, yellow 61% 79%, red, yellow 81% 98%, red 98%);
    box-shadow: 1vmax 1vmax 3vmax black;
    padding: 2vmax;
    position: relative;
    z-index: 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 3px solid black;
    border-radius: 100vmax;
    font-size: 1.3vmax;
    width: 4.2vmax;
    height: 4.2vmax;
    background-color: limegreen;
    transition: transform 1s;
    padding: 0;
    font-weight: bold;
    box-shadow: 0.4vmax 0.4vmax 1vmax black;
    position: relative;
    animation: flashout 1s forwards;
}

/* Text of tokens based on data-letter*/
article::after {
    content: attr(data-letter);
    text-transform: capitalize;
    scale: 400%;
    position: relative;
    top: -0.1rem;
    left: 0.1rem;
    color: white;
    text-shadow: -0.05vmax 0.05vmax 0 orange,
        -0.1vmax 0.1vmax 0 red
}

article.flash {
    animation: flashin 1s forwards;
}

@keyframes flashin {
    0% {
        background-color: white;
    }
}

@keyframes flashout {
    0% {
        background-color: white;
    }
}

#team-toggler {
    position: absolute;
    top: 2vmin;
    border-radius: 100vmax;
    background: limegreen;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.2rem 1.5rem;
    transition: 1s;
}

#team-toggler::after {
    content: attr(data-team);
    color: white;
    text-shadow: -0.15vmax 0.15vmax 0 orange,
        -.3vmax 0.3vmax 0 red
}

#team-toggler[data-team="⮟"] {
    top: calc(100vmin - 2vmin - 3rem);
}

@media (orientation: portrait) {
    html {
        rotate: 90deg;
    }

    article::after {
        rotate: -90deg;
    }
}